@model DoAnWEBDEMO.Models.Footer

<div class="col-12">

    <div><p class="fw-bold">Thêm thông tin cho Footer</p></div>

    @if (TempData["ThanhCong"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["ThanhCong"]
        </div>

        <script>
            setTimeout(function() {
                window.location.href = '/Admin';
            }, 1500);
        </script>
    }

    @if (TempData["ThatBai"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ThatBai"]
        </div>
    }

    <div class="edit-header mt-4">
        <form class="form-center" method="POST" action="/Admin/Admin/SuaFooter" onsubmit="return confirm('Bạn xác nhận muốn thêm dữ liệu này!')">
            <div class="d-none">
                <input type="text" name="ID" value="@Model.ID" readonly />
            </div>
            <div class="mb-3">
                <input type="text" value="@Model.TieuDe" name="TieuDe" class="form-control" placeholder="Tiêu đề" />
            </div>

            <div class="mb-3">
                <textarea class="form-control" name="MoTa" placeholder="Mô tả">@Model.MoTa</textarea>
            </div>

            <div class="mb-3">
                <input type="text" value="@Model.HinhAnh" name="HinhAnh" class="form-control" placeholder="Đường dẫn hình ảnh" />
                <p class="my-1" style="font-size: 13px"><i class="bi bi-info-circle-fill"></i> Chỉ nhận đường liên kết hình ảnh</p>
            </div>

            <div class="mb-3">
                <input type="text" value="@Model.DuongLienKet" name="DuongLienKet" class="form-control" placeholder="Đường liên kết" />
            </div>

            <div class="mb-3">
                <select class="form-select" name="TrangThaiHienThi">
                    <option value="1" @(Model.TrangThaiHienThi == 1 ? "selected" : "")>Hiển thị</option>
                    <option value="2" @(Model.TrangThaiHienThi == 2 ? "selected" : "")>Ẩn</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Xác nhận</button>
            <a href="/Admin" class="btn btn-danger">Quay lại</a>
        </form>
    </div>
</div>
